.tabs {
  position: relative;
  padding: 4px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  width: 100%;
  height: 32px;
  background-color: #e5e6ea;
  user-select: none;

  &::before {
    content: '';
    position: absolute;
    left: var(--tabs-active-left, 4px);
    top: 4px;
    background-color: white;
    border-radius: 8px;
    width: var(--tabs-active-width);
    height: calc(100% - 8px);
    transition: all 0.3s linear;
  }

  :global {
    .tabs-item {
      position: relative;
      padding: 0 12px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 13px;
      line-height: 18px;

      &.tabs-item.active {
        font-weight: bold;

        &::before,
        & + .tabs-item::before {
          opacity: 0;
        }
      }

      & + .tabs-item {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          width: 1px;
          height: 12px;
          background-color: #cbcbd1;
          border-radius: 999px;
          transition: all .3s linear;
          transform: translateY(-50%);
          pointer-events: none;
        }
      }
    }
  }
}
    
