:root {
  --header-navbar-height: 44px;
  --footer-tabbar-height: 50px;
}

html, body {
  padding: 0;
  margin: 0;
}

.app-main {
  padding: calc(12px + env(safe-area-inset-top) + var(--header-navbar-height)) 10px calc(12px + env(safe-area-inset-bottom));
  background-color: #f5f6fa;
}